@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: radial-gradient(
      circle at center,
      rgb(27, 27, 27) 0%,
      #0a0a0a 40%,
      #000000 100%
    );
    --foreground: #ededed;
  }

  body {
    background: var(--background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(239, 239, 239);
  }
}


.marquee-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.marquee-track {
  display: inline-block;
  white-space: nowrap;
  animation: marquee-scroll 15s linear infinite;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
